# CDB API
API_HOST=http://api.master.k8s.prozorro.gov.ua
API_TOKEN=broker_api_token
API_PATH=/api/2.5/

# Document service
DS_HOST=http://ds.k8s.prozorro.gov.ua
DS_USERNAME=broker_ds_username
DS_PASSWORD=broker_ds_password

# Optional procedure options
ACCELERATION=60000
PARALLEL=all
SUBMISSION=quick(mode:fast-forward)
# REVIEWER_TOKEN=reviewer_token
# BOT_TOKEN=bot_token
# DATA=aboveThrshold
# SEED=1
# STOP=bid_create_3.json
# PAUSE=tender_create.json bid_create_0.json
# WAIT=edr-qualification
# DEBUG=true
# DEBUG_REQUEST=true
# DEBUG_JSON_LEVEL=2
