# CDB API
API_HOST=https://lb-api-sandbox-2.prozorro.gov.ua
API_TOKEN=broker_api_token
API_PATH=/api/0/

# Document service
DS_HOST=https://upload-docs-sandbox-2.prozorro.gov.ua
DS_USERNAME=broker_ds_username
DS_PASSWORD=broker_ds_password

# Optional procedure options
ACCELERATION=60000
PARALLEL=all
SUBMISSION=quick(mode:fast-forward)
