# CDB API
API_HOST=https://lb-api-sandbox-2.prozorro.gov.ua
API_TOKEN=broker_api_token
API_PATH=/api/0/

# Document service
DS_HOST=https://upload-docs-sandbox-2.prozorro.gov.ua
DS_USERNAME=broker_ds_username
DS_PASSWORD=broker_ds_password

# Optional procedure options
ACCELERATION=10000
PARALLEL=all
SUBMISSION=quick(mode:fast-forward)
REVIEWER_TOKEN=reviewer_token
BOT_TOKEN=bot_token
# DATA=aboveThrshold
# SEED=1
# STOP=bid_create_3.json
# PAUSE=tender_create.json bid_create_0.json
# WAIT=edr-qualification
# DEBUG=true
# DEBUG_REQUEST=true
# DEBUG_JSON_LEVEL=2
